@using AllenKRyansCOSC481.Models;
@model IEnumerable<AllenKRyansCOSC481.Models.Item>
@{
    ViewBag.Title = "Cart";
}
<div class="cartContainer">
    <h2>Cart</h2>
    <hr />
    @{
        if (Session["cart"] == null)
        {
            <center><h3>Your cart is empty</h3></center>
        }
        else
        {
            double grandTotal = 0;
            List<CartItem>
                cart = (List<CartItem>
                    )(Session["cart"]);
            foreach (var cartItem in cart)
            {

                <div style="width:100%; height: 110px">
                    <div class="leftCart" style="float: left">
                        <h4>@cartItem.Item.Name</h4>
                        <p>$ @cartItem.Item.Price each</p>
                    </div>
                    <div class="rightCart" style="float:right">
                        <p><label>Amount: </label>@cartItem.Count</p>
                        @using (Html.BeginForm("Remove", "Cart", FormMethod.Post))
                        {
                            <input type="number" name="amount" value="1" class="nmbrsz" min="1" max="@cartItem.Count" />
                            <br />
                            <input type="hidden" name="itemId" value="@cartItem.Item.ID" />
                            <input type="submit" name="remove" value="Remove" />
                        }

                        <br />
                        <label>$ @cartItem.Price</label>
                    </div>
                </div>
                <hr />
                grandTotal += cartItem.Price;
                }
                <div>
                    <p><label>Total: </label> $ @grandTotal</p>
                    <p><label>Taxes: </label> $ @((grandTotal * 0.06).ToString("0.00"))</p>
                    <p><label>Grand Total: </label> $ @((grandTotal * 1.06).ToString("0.00"))</p>
                    @using (Html.BeginForm("Order", "Cart", FormMethod.Post))
                    {
                    <input type="submit" name="order" value="Order" />
                    }
                </div>
                }
                }
</div>